<div class="row">
  <!-- <div class="col">
    <button [ngClass]="{'btn':true, 'btn-outline-primary': etapa!==3, 'btn-primary':etapa===3, 'btn-sm': true}" *ngFor="let etapa of [1,2,3,4,5,6,7,8,9,10]">{{etapa}}</button>
  </div> -->
  <div class="col text-right">
    <mat-slide-toggle color="primary" [(ngModel)]="autoAvancar" tabindex="4" matTooltip="Avançar automaticamente">Avançar</mat-slide-toggle>
  </div>
</div>

<my-pergunta [pergunta]="pergunta" (opcaoSelecionada)="aoSelecionarOpcao($event)" [tabIndex]="2"
[estado]="estado" (animacaoConcluida)="aoConcluirAnimacao()">
</my-pergunta>
<my-botoes-navegacao [desabilitarVoltar]="idPergunta===1" (avancarClick)="avancar()" (voltarClick)="voltar()"></my-botoes-navegacao>
