
.questionario-header-image {
  background-size: cover;
}

mat-card {
  opacity: 0;
  margin: 10px;
  background-color: #44cdec;
}

mat-card:hover {
  background-color: #54ddfc;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  transform: scale(1.01);
}
