/* div {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
  align-content: stretch;
  width: 100%;
}

h1 {
  text-align: center;
} */

.jumbotron-responsivo {
  text-align: center;
}

@media all and (max-height: 500px)
{
    .jumbotron-responsivo
    {
      padding-top: 2px;
      padding-bottom: 2px;
    }
}
