<div class="container" [@bounceIn]="estado" (@bounceIn.done)="aoConcluirAnimacao()">
  <h2>Resumo do questionário</h2>

  <div class="row">
    <div class="col">
      <div [ngClass]="{'card':true,'validado':resultadoValidacao,
      'bg-danger resposta-errada':
      resultadoValidacao && !obterResultadoValidacao(resposta.pergunta)?.acertou
    }" *ngFor="let resposta of respostas">
        <a class="card-heading bg-info pergunta" (click)="navegarPergunta(resposta.pergunta)">
          Pergunta: {{resposta.pergunta.pergunta}}
        </a>
        <div class="card-body resposta" *ngIf="resposta.opcao">
          Resposta: {{resposta.opcao}}
        </div>
        <div class="card-body bg-warning" *ngIf="!resposta.opcao">
          Não respondido
        </div>
        <div class="card-body bg-success" *ngIf="resultadoValidacao && !obterResultadoValidacao(resposta.pergunta)?.acertou">
          Resposta correta: {{obterResultadoValidacao(resposta.pergunta).opcaoCorreta}}
        </div>
      </div>
    </div>
  </div>

  <my-botoes-navegacao [exibirAvancar]="false" [exibirResumo]="false" (voltarClick)="voltar()">
    <ng-container direita>
      <button class="btn btn-success" matTooltip="Confirmar respostas e validar" (click)="confirmarValidar()">
        <i class="fa fa-check"></i>
      </button>
    </ng-container>
  </my-botoes-navegacao>
</div>
