<div class="container" [@bounceIn]="estado" (@bounceIn.done)="aoConcluirAnimacao()">
  <h2>Resumo do questionário</h2>

  <div class="row">
    <div class="col">
      <div class="card" *ngFor="let resposta of respostas">
        <div class="card-heading bg-info">
          Pergunta: {{resposta.pergunta.pergunta}}
        </div>
        <div class="card-body" *ngIf="resposta.opcao">
          Resposta: {{resposta.opcao}}
        </div>
        <div class="card-body bg-danger" *ngIf="!resposta.opcao">
          Não respondido
        </div>
      </div>
    </div>
  </div>

  <my-botoes-navegacao [exibirAvancar]="false" (voltarClick)="voltar()">
    <ng-container direita>
      <button class="btn btn-success" matTooltip="Confirmar respostas e validar"><i class="fa fa-check"></i></button>
    </ng-container>
  </my-botoes-navegacao>
</div>
