
<div class="row">
  <div class="col">
    <button class="btn btn default" matTooltip="Voltar" [disabled]="desabilitarVoltar" (click)="aoClicarVoltar()">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
    </button>
  </div>
  <div class="col text-center">
    <button class="btn btn-primary" [routerLink]="['/']" tabindex="3" matTooltip="Página inicial">
      <i class="fa fa-home" aria-hidden="true"></i>
    </button>
    <button class="btn btn-primary" tabindex="3" matTooltip="Resumo respostas" *ngIf="exibirResumo" (click)="aoClicarResumo()">
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </button>
  </div>
  <div class="col text-right">
    <button class="btn btn default" matTooltip="Avançar" (click)="aoClicarAvancar()" *ngIf="exibirAvancar">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </button>
    <ng-content select="[direita]">
    </ng-content>
  </div>
</div>
